
<div class="page-header">
  <h1>TrialTogether <small> Search. Learn. Connect.</small></h1>
</div>

<div class="form-container">
  <%= form_tag '/trial/search', :method => 'get', class: 'form-horizontal' do %>
  <fieldset>
    <legend>Search for clinical trials nearby</legend>
      <div class="control-group">
      <%= label_tag 'Clinical Trial',nil, class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :search, params[:search], class: 'input-xxlarge', placeholder: 'Seach for a clinical trial' %>
        </div>  
      </div>
      <div class = "control-group">
      <%= label_tag 'Location',nil, class: 'control-label' %>
        <div class="controls">
          <%= text_field_tag :location, params[:location], class: 'input-xxlarge', placeholder: 'Enter a full address, e.g. 77 Massachusetts Avenue, Boston, MA 02139' %>
        </div>
      </div>
      <div class="control-group offset7">
        <%= submit_tag "Search", class: 'btn btn-large btn-primary' %> 
      </div>
    </fieldset>
  <% end %>
</div>

