<% provide(:title,"| #{@trial.brief_title}") %>

<div class="container-fluid">
  <div class="row-fluid">
   <aside class="span4 hero-unit">
   	 <h1>Activity Feed</h1>
   	</aside>
    <div class="span8 grayContainer">
      <h1> Trial Profile </h1>
      <h4> Title: <%=@trial.brief_title%></h4>
      <h4> Summary: <%=@trial.brief_summary%></h4>
      <h4> Completion Date: <%=@trial.completion_date%></h4>
      <h4> Download Date: <%=@trial.download_date%></h4>
      <h4> Is FDA Regulated: <%=@trial.is_fda_regulated%></h4>
      <h4> Keywords: <%=@trial.keywords%></h4>
      <h4> NCT ID: <%=@trial.nct_id%></h4>
      <h4> Official Title: <%=@trial.official_title%></h4>
      <h4> Org Study ID: <%=@trial.org_study_id%></h4>
      <h4> Overall Status:<%=@trial.overall_status%></h4>
      <h4> Phase: <%=@trial.phase%></h4>
      <h4> Start Date: <%=@trial.start_date%></h4>
      <h4> Study Design: <%=@trial.study_design%></h4>
      <h4> Study Type: <%=@trial.study_type%></h4>
      <h4> URL: <%=@trial.url%></h4>
      <h4> Location: <%=@trial.locations%></h4>
      <h4> Sponsors: <%=@trial.sponsors%></h4>
      <h4> Eligibilities: <%=@trial.eligibilities%></h4>
      <h4> Primary Outcomes: <%=@trial.primary_outcomes%></h4>

    </div>
  </div>
</div>