<% provide(:title,"| #{@trial.brief_title}") %>
<div class="container-fluid">
  <div class="row-fluid">
   <aside class="span5 grayContainer" id="trialProfile">
      <div class="accordian" id="trialAttributes">
	<div id="trialTitle"><h5><%= @trial.brief_title %></h5></div>
	<% attributes = ['official_title', 'brief_summary', 'completion_date', 'overall_status',
		'phase', 'start_date', 'study_design', 'study_type', 'locations', 'eligibilities', 
		'primary_outcomes', 'is_fda_regulated', 'sponsors', 'nct_id', 'org_study_id', 'url']%>
        
	<% attributes.each do |attr| %>
	<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#trailAttributes" href=<%="\#collapse_#{attr}" %>>
		<%= ActiveSupport::Inflector.humanize(attr + "_id") %>
	      </a>
	    </div>
	    <div id=<%="collapse_#{attr}" %> class="accordion-body collapse">
	      <div class="accordion-inner">
	        <%= if attr=='locations'
		      @trial.locations.each do |location|
			
		      end
		    elsif attr=='eligibilities'
		      @trial.eligibilities.each do |eligibility|
		      end
		    elsif attr=='primary_outcomes'
		      @trial.primary_outcomes.each do |outcome|
		      end
		    else
			@trial[attr]
		    end  %>
	      </div>
	    </div>
	</div>
	<% end %>
      </div>
    </aside>

    <div class="span7 grayContainer">
    	<h1>Activity Feed</h1>
    </div>
  </div>
</div>
