<% provide(:title,"| #{@trial.brief_title}") %>
<div class="container-fluid">
  <div class="row-fluid">
   <aside class="span5 grayContainer" id="trialProfile">
      <div class="accordian" id="trialAttributes">
	<div id="trialTitle"><h5><%= @trial.brief_title %></h5></div>
	<% attributes = ['official_title', 'brief_summary', 'completion_date', 'overall_status',
		'phase', 'start_date', 'study_design', 'study_type', 'locations', 'eligibilities', 
		'primary_outcomes', 'is_fda_regulated', 'sponsors', 'nct_id', 'org_study_id', 'url']%>
        
	<% attributes.each do |attr| %>
	<div class="accordion-group">
	    <div class="accordion-heading">
	      <a class="accordion-toggle" data-toggle="collapse" data-parent="#trailAttributes" href=<%="\#collapse_#{attr}" %>>
		<%= ActiveSupport::Inflector.humanize(attr + "_id") %>
	      </a>
	    </div>
	    <div id=<%="collapse_#{attr}" %> class="accordion-body collapse">
	      <div class="accordion-inner">
	        <%= if attr=='locations'
		      if @trial.locations.count==0
			"None"
		      else
			@trial.locations.each do |location|
			end
		      end
		    elsif attr=='eligibilities'
		      if @trial.eligibilities.count==0
			"None"
		      else
			@trial.eligibilities.each do |eligibility|
			end
		      end
		    elsif attr=='primary_outcomes'
		      if @trial.primary_outcomes.count==0
			"None"
		      else
			@trial.primary_outcomes.each do |outcome|
			end
		      end
		    elsif attr=='sponsors'
		      if @trial.sponsors.count==0
			"None"
		      else
			@trial.sponsors.each do |outcome|
			end
		      end
		    else
		      @trial[attr]
		    end  %>
	      </div>
	    </div>
	</div>
	<% end %>
      </div>
    </aside>

    <div class="span7 grayContainer">
	<h1>Activity Feed</h1>

	<% if @trial.posts.any? %>
	  <h3>posts (<%= @trial.posts.count %>)</h3>
	  <ol class="posts">
	    <%= render @posts %>
	  </ol>
      	<% if signed_in? %>
		      <div class="post_form">
		        <%= render 'post_form' %>
		      </div>
		<% end %>
		
      	  <%= will_paginate @posts %>
	<% end %>
    </div>
  </div>
</div>
