<% provide(:title,"| #{@trial.brief_title}") %>

<div class="container-fluid">
  <div class="row-fluid">
   <aside class="span4 grayContainer">
   	  <h1> Trial Profile</h1>
      <h4> Title</h4> <p><%=@trial.brief_title%></p>
      <h4> Summary</h4> <p><%=@trial.brief_summary%></p>
      <h4> Completion Date</h4> <p><%=@trial.completion_date%></p>
      <h4> Download Date</h4> <p><%=@trial.download_date%></p>
      <h4> Is FDA Regulated</h4> <p><%=@trial.is_fda_regulated%></p>
      <h4> Keywords</h4> <p><%=@trial.keywords%></p>
      <h4> NCT ID</h4> <p><%=@trial.nct_id%><p>
      <h4> Official Title</h4> <p><%=@trial.official_title%></p>
      <h4> Org Study ID</h4> <p><%=@trial.org_study_id%><p>
      <h4> Overall Status</h4> <p><%=@trial.overall_status%></p>
      <h4> Phase</h4> <p><%=@trial.phase%></p>
      <h4> Start Date</h4> <p><%=@trial.start_date%></p>
      <h4> Study Design</h4> <p><%=@trial.study_design%></p>
      <h4> Study Type</h4> <p><%=@trial.study_type%><p>
      <h4> URL</h4> <p><%=@trial.url%></p>
      <h4> Location</h4> <p><%=@trial.locations%></p>
      <h4> Sponsors</h4> <p><%=@trial.sponsors%></p>
      <h4> Eligibilities</h4> <p><%=@trial.eligibilities%></p>
      <h4> Primary Outcomes</h4> <p><%=@trial.primary_outcomes%></p>
   	</aside>
    <div class="span8 grayContainer">
    	<h1>Activity Feed</h1>
    </div>
  </div>
</div>